/gittest/nbproject/private/
/TCP_SERVER/nbproject/private/
/TCP_SERVER/build/
/TCP_SERVER/dist/
/TCP_server_simple/nbproject/private/
/TCP_client_simple/nbproject/private/
/TCP_server_simple/build/
/TCP_client_simple/build/
/FileUtility/nbproject/private/
/FileUtility/build/
/TCP_SERVER2/nbproject/private/
/APPinThread/nbproject/private/
/Base/nbproject/private/
/THREAD_CONSUMER/nbproject/private/
/THREAD_PRODUCER/nbproject/private/
/THREAD_CONSUMER1/nbproject/private/
/THREAD_BASE/nbproject/private/
/App_In_Thread/nbproject/private/
/App_In_Thread/build/
/App_In_Thread/dist/
/Generics/nbproject/private/
/Collectionlar/nbproject/private/
/Collectionlar/build/